{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-dynamic-import-node",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "app": "./src/app",
          "assets": "./src/assets",
          "components": "./src/components",
          "pages": "./src/pages",
          "store": "./src/app",
          "config": "./src/config"
        }
      }
    ]
  ]
}
