@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Poppins Regular'), local('Poppins-Regular'),
    url(/assets/fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local('Poppins Medium'), local('Poppins-Medium'),
    url(/assets/fonts/Poppins-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('Poppins Bold'), local('Poppins-Bold'),
    url(/assets/fonts/Poppins-Bold.ttf) format('truetype');
}
